[Unit]
Description=Clash Daemon
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/clash -d /usr/local/etc/clash
Restart=on-failure

[Install]
WantedBy=multi-user.target